In [1]:
import numpy as np
import pandas as pd
from ast import literal_eval
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
creditsPath = './datasets/credits.csv'
moviesPath = './datasets/movies.csv'

# Load the DataSets
df1 = pd.read_csv(creditsPath)
df2 = pd.read_csv(moviesPath)

In [ ]:
df1.head()

In [4]:
df2.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
# Merge the two dataframes
DF1_cols = ['title','cast','crew']
for col in DF1_cols:
    df2[col] = df1[col]
df2.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
df2.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [7]:
# res = np.where(df2['title_x'] == df2['title_y'], True, False)
# (res == False).sum()
# df2.columns

# Minimum votes to be listed
Q_9 = df2['vote_count'].quantile(0.9) #movies having vote count greater than 90% from the list will be taken
# Getting the list of movies to be listed
df2 = df2.loc[df2['vote_count'] >= Q_9]
df2.shape

(481, 22)

In [8]:
# lists_movies.loc[lists_movies['original_title'] != lists_movies['title']]

MOVIES = df2["title"].tolist()
import json
with open('movies.json', 'w') as f:
    json.dump(MOVIES, f)
    
# len(MOVIES)

In [9]:
type(df2['crew'][0])

str

In [10]:
features = ['cast', 'crew', 'keywords', 'genres', 'title']
features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
	df2[feature] = df2[feature].apply(literal_eval) #cell = "[1, 2, 3]" -> cell = [1, 2, 3]

df2.head()

,cast,crew,keywords,genres,title
0,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...","[{'id': 1463, 'name': 'culture clash'}, {'id':...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Avatar
1,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de...","[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Pirates of the Caribbean: At World's End
2,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de...","[{'id': 470, 'name': 'spy'}, {'id': 818, 'name...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Spectre
3,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...","[{'id': 849, 'name': 'dc comics'}, {'id': 853,...","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",The Dark Knight Rises
4,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",John Carter

In [11]:
# type(df2['crew'][0])

#Get the director's name from the crew feature. If director is not listed, return NaN
def get_director(x):
	for i in x:
		if i['job'] == 'Director':
			return i['name']
	return np.nan

#Define new director, cast, genres and keywords features that are in a suitable form.
df2['director'] = df2['crew'].apply(get_director)

In [12]:
#Returns the list top 3 elements or entire list; whichever is more.
def get_list(x):
	if isinstance(x, list):
		names = [i['name'] for i in x]
  #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
		if len(names) > 3:
			names = names[:3]
		return names
	#Return empty list in case of missing/malformed data
	return []

features = ['cast', 'keywords', 'genres']
for feature in features:
	df2[feature] = df2[feature].apply(get_list)
	
df2.head()

,cast,crew,keywords,genres,title,director
0,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{'credit_id': '52fe48009251416c750aca23', 'de...","[culture clash, future, space war]","[Action, Adventure, Fantasy]",Avatar,James Cameron
1,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{'credit_id': '52fe4232c3a36847f800b579', 'de...","[ocean, drug abuse, exotic island]","[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,Gore Verbinski
2,"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{'credit_id': '54805967c3a36829b5002c41', 'de...","[spy, based on novel, secret agent]","[Action, Adventure, Crime]",Spectre,Sam Mendes
3,"[Christian Bale, Michael Caine, Gary Oldman]","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...","[dc comics, crime fighter, terrorist]","[Action, Crime, Drama]",The Dark Knight Rises,Christopher Nolan
4,"[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...","[based on novel, mars, medallion]","[Action, Adventure, Science Fiction]",John Carter,Andrew Stanton

In [13]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
	if isinstance(x, list):
		return [str.lower(i.replace(" ", "")) for i in x]
	else:
		#Check if director exists. If not, return empty string
		if isinstance(x, str):
			return str.lower(x.replace(" ", ""))
		else:
			return ''

# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']
for feature in features:
	df2[feature] = df2[feature].apply(clean_data)
	
df2.head()

,cast,crew,keywords,genres,title,director
0,"[samworthington, zoesaldana, sigourneyweaver]","[{'credit_id': '52fe48009251416c750aca23', 'de...","[cultureclash, future, spacewar]","[action, adventure, fantasy]",Avatar,jamescameron
1,"[johnnydepp, orlandobloom, keiraknightley]","[{'credit_id': '52fe4232c3a36847f800b579', 'de...","[ocean, drugabuse, exoticisland]","[adventure, fantasy, action]",Pirates of the Caribbean: At World's End,goreverbinski
2,"[danielcraig, christophwaltz, léaseydoux]","[{'credit_id': '54805967c3a36829b5002c41', 'de...","[spy, basedonnovel, secretagent]","[action, adventure, crime]",Spectre,sammendes
3,"[christianbale, michaelcaine, garyoldman]","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...","[dccomics, crimefighter, terrorist]","[action, crime, drama]",The Dark Knight Rises,christophernolan
4,"[taylorkitsch, lynncollins, samanthamorton]","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...","[basedonnovel, mars, medallion]","[action, adventure, sciencefiction]",John Carter,andrewstanton

In [14]:
# Creating MetaData
def create_meta(x):
	return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])
df2['meta'] = df2.apply(create_meta, axis=1)
df2.head()

,cast,crew,keywords,genres,title,director,meta
0,"[samworthington, zoesaldana, sigourneyweaver]","[{'credit_id': '52fe48009251416c750aca23', 'de...","[cultureclash, future, spacewar]","[action, adventure, fantasy]",Avatar,jamescameron,cultureclash future spacewar samworthington zo...
1,"[johnnydepp, orlandobloom, keiraknightley]","[{'credit_id': '52fe4232c3a36847f800b579', 'de...","[ocean, drugabuse, exoticisland]","[adventure, fantasy, action]",Pirates of the Caribbean: At World's End,goreverbinski,ocean drugabuse exoticisland johnnydepp orland...
2,"[danielcraig, christophwaltz, léaseydoux]","[{'credit_id': '54805967c3a36829b5002c41', 'de...","[spy, basedonnovel, secretagent]","[action, adventure, crime]",Spectre,sammendes,spy basedonnovel secretagent danielcraig chris...
3,"[christianbale, michaelcaine, garyoldman]","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...","[dccomics, crimefighter, terrorist]","[action, crime, drama]",The Dark Knight Rises,christophernolan,dccomics crimefighter terrorist christianbale ...
4,"[taylorkitsch, lynncollins, samanthamorton]","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...","[basedonnovel, mars, medallion]","[action, adventure, sciencefiction]",John Carter,andrewstanton,basedonnovel mars medallion taylorkitsch lynnc...

In [15]:
# Import CountVectorizer and create the count matrix
cVectorizer = CountVectorizer(stop_words='english')#the, all, a, on, etc...
COUNT_MAT = cVectorizer.fit_transform(df2['meta'])
# Compute the Cosine Similarity matrix based on the count_matrix
COS_SIM_MAT = cosine_similarity(COUNT_MAT, COUNT_MAT)

# Reset index of our main DataFrame and construct reverse mapping as before
df2 = df2.reset_index()
indices = pd.Series(df2.index, index=df2['title'])

In [16]:
pd.DataFrame(COUNT_MAT.toarray(), columns=cVectorizer.get_feature_names())

,1970s,3d,aaroneckhart,aarontaylor,abigailhargrove,abrams,action,adammckay,adamsandler,adoptivefather,...,zacharylevi,zacharyquinto,zachgalifianakis,zachgilford,zacksnyder,zoesaldana,zombie,zoo,zooeydeschanel,zoëkravitz
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
477,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
478,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
479,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
480,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
# indices

title
Avatar                                        0
Pirates of the Caribbean: At World's End      1
Spectre                                       2
The Dark Knight Rises                         3
John Carter                                   4
                                           ...
Saw                                         476
Reservoir Dogs                              477
The Good, the Bad and the Ugly              478
Taxi Driver                                 479
12 Angry Men                                480
Length: 481, dtype: int64

In [18]:
# Function that takes in movie title as input and outputs most similar movies
def getRecommendations(title, COS_MAT = COS_SIM_MAT):
	# Get the index of the movie that matches the title
	idx = indices[title]

	# Get the pairwsie similarity scores of all movies with that movie
	similarMovies = list(enumerate(COS_MAT[idx]))
		
	# Sort the movies based on the similarity scores
	similarMovies = sorted(similarMovies, key=lambda x: x[1], reverse=True)

	# Get the scores of the 10 most similar movies
	similarMovies = similarMovies[1:11]

	# print(similarMovies)

	# Get the movie indices
	movie_indices = [i[0] for i in similarMovies]

	# Return the top 10 most similar movies
	return df2['title'].iloc[movie_indices].tolist()

In [19]:
# getRecommendations("The Matrix")

['The Matrix Revolutions',
 'The Matrix Reloaded',
 'Terminator 3: Rise of the Machines',
 'I, Robot',
 'Terminator Salvation',
 'Terminator Genisys',
 'The Terminator',
 'TRON: Legacy',
 'Jupiter Ascending',
 'Interstellar']

In [20]:
def COS_SIM(a, b):
	dot_product = np.dot(a, b)
	norm_a = np.linalg.norm(a)
	norm_b = np.linalg.norm(b)
	return dot_product / (norm_a * norm_b + 1)

mat = COUNT_MAT.toarray()
res = []
for i in range(len(mat)):
    curr = []
    for j in range(len(mat)):
        if(i != j):
            curr.append(round(COS_SIM(mat[i], mat[j]), ))
        else:
            curr.append(1)
    res.append(curr)
res = np.reshape(res, [len(mat), len(mat)])
res
# np.dot([1, 1], [1, 1])

array([[1.   , 0.273, 0.182, ..., 0.   , 0.   , 0.   ],
       [0.273, 1.   , 0.182, ..., 0.   , 0.   , 0.   ],
       [0.182, 0.182, 1.   , ..., 0.   , 0.095, 0.   ],
       ...,
       [0.   , 0.   , 0.   , ..., 1.   , 0.   , 0.   ],
       [0.   , 0.   , 0.095, ..., 0.   , 1.   , 0.105],
       [0.   , 0.   , 0.   , ..., 0.   , 0.105, 1.   ]])

In [21]:
np.around(COS_SIM_MAT, decimals=1, out=COS_SIM_MAT)
COS_SIM_MAT

array([[1.        , 0.3       , 0.2       , ..., 0.        , 0.        ,
        0.        ],
       [0.3       , 1.        , 0.2       , ..., 0.        , 0.        ,
        0.        ],
       [0.2       , 0.2       , 1.        , ..., 0.        , 0.10540926,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.10540926, ..., 0.        , 1.        ,
        0.11785113],
       [0.        , 0.        , 0.        , ..., 0.        , 0.11785113,
        1.        ]])

In [22]:
# type(COS_SIM_MAT)
# type(COUNT_MAT)

In [23]:
# print(COUNT_MAT)

In [24]:
df2.to_csv('./Database.csv', index=False)